<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2022-present. All rights reserved.
 * This product is licensed under the BSD-3-Clause license.
 * See LICENSE.txt for details.
 */
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/sebastianbergmann/phpunit/9.5.21/phpunit.xml"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="sniff-tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
